doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title Eye Berry Pi - Dashboard
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='/images/favicon.ico', rel='icon', type='image/ico')


        link(rel='stylesheet', href='/stylesheets/bootstrap/css/bootstrap.css')
        <!-- Font Awesome -->
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css')
        <!-- Ionicons -->
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css')
        <!-- Theme style -->
        link(rel='stylesheet', href='/stylesheets/dist/css/AdminLTE.min.css')
        link(rel='stylesheet', href='/stylesheets/dist/css/skins/_all-skins.min.css')
        link(rel='stylesheet', href='/stylesheets/plugins/iCheck/flat/blue.css')
        link(rel='stylesheet', href='/stylesheets/plugins/morris/morris.css')
        link(rel='stylesheet', href='/stylesheets/plugins/jvectormap/jquery-jvectormap-1.2.2.css')
        link(rel='stylesheet', href='/stylesheets/plugins/datepicker/datepicker3.css')
        link(rel='stylesheet', href='/stylesheets/plugins/ionslider/ion.rangeSlider.css')
        link(rel='stylesheet', href='/stylesheets/plugins/ionslider/ion.rangeSlider.skinNice.css')
        link(rel='stylesheet', href='/stylesheets/plugins/bootstrap-slider/slider.css')
        link(rel='stylesheet', href='/stylesheets/main.css')
        <!-- Font Awesome CSS -->
        link(rel='stylesheet', href='/stylesheets/bower_components/font-awesome/css/font-awesome.min.css')
        <!-- Animate.css CSS -->
        link(rel='stylesheet', href='/stylesheets/bower_components/animate.css/animate.min.css')
        <!-- Bootstrap Switch CSS -->
        link(rel='stylesheet', href='/stylesheets/bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css')
        <!-- Checkbox3 CSS -->
        link(rel='stylesheet', href='/stylesheets/bower_components/checkbox3/dist/checkbox3.min.css')
        <!-- jQuery Data Tables CSS -->
        link(rel='stylesheet', href='/stylesheets/bower_components/datatables.net-dt/css/jquery.dataTables.min.css')
        <!-- Bootstrap Data Tables CSS -->
        link(rel='stylesheet', href='/stylesheets/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css')
        <!-- Select2 CSS -->
        link(rel='stylesheet', href='/stylesheets/bower_components/select2/dist/css/select2.min.css')
        <!-- Bootstrap Theme CSS -->
        link(rel='stylesheet', href='/stylesheets/bootstrap/css/style.css')
        <!-- Custom CSS -->
        link(rel='stylesheet', href='/stylesheets/css/flat-orange.css')
        link(rel='stylesheet', href='/stylesheets/css/style.css')
        script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
        script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')


    body.flat-orange

            block content

